<header></header>
  <div><h2>Home</h2></div>
  <div><h2>Stock</h2></div>
  <div>
    <img class="logo" src="/img/Audi-Logo.png" alt="" />
  </div>
  <div><h2>About</h2></div>
  <div><h2>Contact</h2></div>
</header>