<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      {{#if session.isLoggedIn}}
        <a href="/logout"><h2>Log out</h2></a>
      {{else}}
        <a href="/login"><h2>Login</h2></a>
      {{/if}}
      <a href="/stock"><h2>Stock</h2></a>
      <div>
        <a href="/"><img class="logo" src="/img/Audi-Logo.png" alt="" /></a>
      </div>
      <a href="/about"><h2>About</h2></a>
      <a href="/contact"><h2>Contact</h2></a>
    </header>
    {{{body}}}
    <footer>
      <h2>Webpage developed by Markus Ekerheim</h2>
      <h2>2024</h2>
    </footer>
  </body>
</html>