<div class="feed-image"><img src="/img/e-tronGT.jpg" alt="" /></div>
<div class="textbox-container"><a href="/stock"> <h3 class="feed-textbox">Discover the E-tron GT RS</h3></a></div>
 
</div>

<div class="feed-image-half">
  <img src="/img/Morkgron-Audi-A3-star-parkerad-utanfor-byggnad.jpg" alt="" />
  <div class="textbox-container">
    <div>
      <h2 class="filler-text">
        Visit our stock page to find out more about which vehicles are currently
        available.
      </h2>
      <h3 class="feed-textbox">Real time inventory</h3>
    </div>
  </div>
</div>