<div class="feed-image"><img src="/img/e-tronGT.jpg" alt="" /></div>
<div class="textbox-container">
  <h3 class="feed-textbox">Discover the E-tron GT RS</h3>
</div>

<div class="feed-image-half">
  <img src="/img/Morkgron-Audi-A3-star-parkerad-utanfor-byggnad.jpg" alt="" />
  <div class="textbox-container">
    <div>
      <h2 class="filler-text">
        Check out the cars we have available at the moment, you mind find the
        one.
      </h2>
      <h3 class="feed-textbox">Real time inventory</h3>
    </div>
  </div>
</div>