<div>
  <h1>Register new vehicle</h1>

  <div>
    <form action="/vehicle/new">
      <label for="reg_plate">Registration plate</label>
      <input type="text" />

      <label for="make">Make</label>
      <input type="text" />

      <label for="model">Model</label>
      <input type="text" />

      <label for="prod_year">Production year</label>
      <input type="text" />

      <label for="km">Kilometers</label>
      <input type="text" />

      <label for="emp_id">Employee ID</label>
      <input type="text" />

      <label for="facility_id">Facility ID</label>
      <select name="" id="">
        <option value="1">Stockholm(1)</option>
        <option value="2">Göteborg(2)</option>
        <option value="3">Jönköping(3)</option>
      </select>

      <label for="vehicleImgUrl">Image URL</label>
      <input type="text" placeholder="/img/example.png" />

      <input type="submit" value="Add vehicle" />

    </form>
  </div>
</div>